<ion-modal-view>
	<ion-header-bar class="bar bar-balanced">
		<h1 class="title">Current Conditions in Fahrenheit</h1>
		<button class="button button-clear" ng-click="hideModal3()">
			Close
		</button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher on-refresh="getWeather()" pulling-text="Pull to Refresh"> </ion-refresher>
			<div class="bar bar-energized">
				<h1 class="title">Location: {{params.city}}</h1>
			</div>
			<div>empty div</div>
			<div>empty div</div>
	      	<div class="mainWeather">
		        <h4>Current Temperature: {{forecast.list[0].main.temp | fahrenheit}}</h4>
		     		       
		        <h4>Today's Highest: {{forecast.list[0].main.temp_max | fahrenheit}}</h4>
		     
		        <h4>Today's Lowest: {{forecast.list[0].main.temp_min | fahrenheit}}</h4>
		     
		        <h4>Today's pressure: {{forecast.list[0].main.pressure}} hPa</h4>
		      
		        <h4>Humidity: {{forecast.list[0].main.humidity}}%</h4>
		     
		        <h4>Wind: {{forecast.list[0].wind.speed}}ms, {{getDirection(forecast.list[0].wind.deg)}}</h4>
		      
		        <h4>Day and time: {{forecast.list[0].dt * 1000 | date:"dd/MM/yyyy 'at' HH:mm"}}</h4>

		        <div class="nekaj item-image">
		        	<img src="{{getIconUrl(forecast.list[0].weather[0].icon)}}" />
		        </div>
		   	</div>   	
	</ion-content>
</ion-modal-view>

